body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fadein{
  animation: fadein 2s;
  visibility: visible;
}
@keyframes fadein {
  0%{
    opacity: 10%;
    top:20%;
    left: 10%;
  }
  100%{
    opacity: 80%;
  }
}

.logo{
  pointer-events: none;
  user-select: none;
  position:relative;
  display:inline-block;
  /** top:20vw; **/
  left:-16vw;
  transform: scale(.9);
}
.Intro {
  margin: 5vw 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }

.SocialMediaLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    margin-bottom: 10vw;
   }

 .SocialMediaIcon {
      width: 70px;
      height: auto;
      max-height: 70px;
      object-fit: contain;
 }

.SocialMediaLinks button {
  all: unset;
  cursor: pointer;
}